# CPSC 483, Project 3

## Group Members

* Brandon Xue (brandonx@csu.fullerton.edu)
* Mike Peralta (mikeperalta@csu.fullerton.edu)

This project is still todo

# Experiment 1
Load and examine the Boston dataset’s features, target values, and description.

In [1]:
# Reset the environment variables without confirmation.
# This avoids broken code from functioning off of artifacts
# left behind from previous executions.
%reset -f

# 1. Load and examine
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

boston_dataset = load_boston()
boston_dataset.DESCR # description
boston_dataset.data # features
boston_dataset.target # targets
print("Features: ", end="")
print(*boston_dataset.feature_names, sep=", ") #Unpack the list and print them comma-separated

Features: CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT

# Experiment 2

Save CRIM as the new target value $\boldsymbol{t}$, and drop the column CRIM from $\boldsymbol{X}$. Add the target value MEDV to $\boldsymbol{X}$.

In [2]:
from IPython.display import display

features_dataframe = pd.DataFrame(data=boston_dataset.data,
                                  columns=boston_dataset.feature_names)

# Add MEDV to the data frame
features_dataframe.insert(len(features_dataframe.columns), # Index of insertion
                          'MEDV', # Column name
                          boston_dataset.target) # Values

# Create a targets dataframe using CRIM
targets_dataframe = pd.DataFrame(data=features_dataframe['CRIM'])

# Remove CRIM from the features
features_dataframe.drop(columns='CRIM', # Drop the CRIM column
                        inplace=True) # In place, no need for reassignment

# Using IPython.display allows us to view multiple data frames in the same execution
# and use the pretty IPython format instead of the plain text of print()
print("Features:")
display(features_dataframe)
print("\n\nTargets (displaying transpose to save space):")
display(targets_dataframe.T)

Features:

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

Targets (displaying transpose to save space):

,0,1,2,3,4,5,6,7,8,9,...,496,497,498,499,500,501,502,503,504,505
CRIM,0.00632,0.02731,0.02729,0.03237,0.06905,0.02985,0.08829,0.14455,0.21124,0.17004,...,0.2896,0.26838,0.23912,0.17783,0.22438,0.06263,0.04527,0.06076,0.10959,0.04741

# Experiment 3

Use $\texttt{sklearn.model_selection.train_test_split()}$ to split the features and target values into separate training and test sets. Use 80% of the original data as a training set, and 20% for testing.

In [3]:
from sklearn import model_selection

# train_test_split returns a list of the train-test split of inputs
# test_size will automatically evaluate to the complement of train_size
train_features, test_features = model_selection.train_test_split(features_dataframe,
                                                                 train_size=0.8, # 80% Training
                                                                 random_state=483) # reproducible outputs

# It appears that the same random_state with the same number of observations
# will select the same rows, regardless of how many columns there are
# so the row numbers of our targets and features should be the same.
train_targets, test_targets = model_selection.train_test_split(targets_dataframe,
                                                               train_size=0.8, # 80% Training
                                                               random_state=483) # reproducible outputs

# Displaying targets as transpose to save space
print("Training features and targets.T:")
display(train_features)
display(train_targets.T)
print("\n")
print("Testing features and targets.T:")
display(test_features)
display(test_targets.T)

Training features and targets.T:

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
190,45.0,3.44,0.0,0.437,6.951,21.5,6.4798,5.0,398.0,15.2,377.68,5.10,37.0
157,0.0,19.58,0.0,0.605,6.943,97.4,1.8773,5.0,403.0,14.7,363.43,4.59,41.3
130,0.0,21.89,0.0,0.624,6.458,98.9,2.1185,4.0,437.0,21.2,395.04,12.60,19.2
260,20.0,3.97,0.0,0.647,7.203,81.8,2.1121,5.0,264.0,13.0,392.80,9.59,33.8
464,0.0,18.10,0.0,0.655,6.209,65.4,2.9634,24.0,666.0,20.2,396.90,13.22,21.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,0.0,21.89,0.0,0.624,6.454,98.4,1.8498,4.0,437.0,21.2,394.08,14.59,17.1
7,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
427,0.0,18.10,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52,10.9
48,0.0,6.91,0.0,0.448,5.399,95.3,5.8700,3.0,233.0,17.9,396.90,30.81,14.4
404,0.0,18.10,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38,8.5

,190,157,130,260,464,313,270,11,19,316,...,25,150,202,78,381,137,7,427,48,404
CRIM,0.09068,1.22358,0.34006,0.54011,7.83932,0.26938,0.29916,0.11747,0.7258,0.31827,...,0.84054,1.6566,0.02177,0.05646,15.8744,0.35233,0.14455,37.6619,0.25387,41.5292

Testing features and targets.T:

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
29,0.0,8.14,0.0,0.538,6.674,87.3,4.2390,4.0,307.0,21.0,380.23,11.98,21.0
98,0.0,2.89,0.0,0.445,7.820,36.9,3.4952,2.0,276.0,18.0,393.53,3.57,43.8
310,0.0,9.90,0.0,0.544,4.973,37.8,2.5194,4.0,304.0,18.4,350.45,12.64,16.1
61,25.0,5.13,0.0,0.453,5.966,93.4,6.8185,8.0,284.0,19.7,378.08,14.44,16.0
185,0.0,2.46,0.0,0.488,6.153,68.8,3.2797,3.0,193.0,17.8,387.11,13.15,29.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0.0,19.58,0.0,0.605,6.066,100.0,1.7573,5.0,403.0,14.7,353.89,6.43,24.3
415,0.0,18.10,0.0,0.679,6.434,100.0,1.8347,24.0,666.0,20.2,27.25,29.05,7.2
336,0.0,5.19,0.0,0.515,5.869,46.3,5.2311,5.0,224.0,20.2,396.90,9.80,19.5
60,25.0,5.13,0.0,0.453,5.741,66.2,7.2254,8.0,284.0,19.7,395.11,13.15,18.7
171,0.0,19.58,0.0,0.605,5.880,97.3,2.3887,5.0,403.0,14.7,348.13,12.03,19.1

,29,98,310,61,185,201,106,235,276,62,...,243,279,85,361,456,158,415,336,60,171
CRIM,1.00245,0.08187,2.63548,0.17171,0.06047,0.03445,0.1712,0.33045,0.10469,0.11027,...,0.12757,0.21038,0.05735,3.83684,4.66883,1.34284,18.0846,0.03427,0.14932,2.3139

# Experiment 4

Create and $\texttt{fit()}$ an $\texttt{sklearn.linear_model.LinearRegression}$ to the training set.

In [4]:
from sklearn.linear_model import LinearRegression

# Our linear model using all 13 features
# fit(X=train_features, y=train_targets)
lin_reg_model = LinearRegression().fit(train_features, train_targets)

# This dataframe of the weights is just for viewing purposes
lin_reg_weights = pd.DataFrame(data=lin_reg_model.coef_[0],
                               columns=['WEIGHTS'])
display(lin_reg_weights.T)

,0,1,2,3,4,5,6,7,8,9,10,11,12
WEIGHTS,0.052508,-0.054297,-0.396177,-11.383913,0.778258,0.012058,-1.111716,0.628557,-0.004638,-0.320867,-0.008788,0.002348,-0.282009

# Experiment 5

Use the $\texttt{predict()}$ method of the model to find the response for each value in the test
set, and $\texttt{sklearn.metrics.mean_squared_error()}$, to find the training and test MSE.

In [5]:
from sklearn.metrics import mean_squared_error

# Find the predictions on the training and test sets
lin_reg_model_train_predictions = lin_reg_model.predict(train_features)
lin_reg_model_test_predictions = lin_reg_model.predict(test_features)

# Now find the MSE for each of these predictions
lin_reg_model_train_MSE = mean_squared_error(y_true=train_targets,
                                             y_pred=lin_reg_model_train_predictions)
lin_reg_model_test_MSE = mean_squared_error(y_true=test_targets,
                                            y_pred=lin_reg_model_test_predictions)

# Let's compare the MSE
print("Linear Regression training MSE:", lin_reg_model_train_MSE)
print("Linear Regression testing MSE:", lin_reg_model_test_MSE)

# TODO: Michael can you check this please? The testing MSE is suspiciously low.
# Ahoy dude -> I got the same values!

Linear Regression training MSE: 44.05110704502939
Linear Regression testing MSE: 27.585112220532842

# Experiment 6

By itself, the MSE doesn’t tell us much. Use the $\texttt{score()}$ method of the model to find the
$R^2$ values for the training and test data.

In [6]:
lin_reg_model_train_rsq = lin_reg_model.score(train_features, train_targets)
print("Coefficient of determination for training set:", lin_reg_model_train_rsq)
lin_reg_model_test_rsq = lin_reg_model.score(test_features, test_targets)
print("Coefficient of determination for testing set:", lin_reg_model_test_rsq)

Coefficient of determination for training set: 0.4528805078335282
Coefficient of determination for testing set: 0.4116070199986994

#### Given the $R^2$ scores, how well did our model do?

Given the $R^2$ scores, our model's performance was mediocre in both the training and test sets. A score around 0.4 to 0.59 means the model offers a moderate explanation for the variability.

# Experiment 7

Let’s see if we can fit the data better with a more flexible model. Scikit-learn can construct polynomial features for us using $\texttt{sklearn.preprocessing.PolynomialFeatures}$ ...

In [92]:
from sklearn.preprocessing import PolynomialFeatures

# Create a degree 2 PolynomialFeatures
d2_transformer = PolynomialFeatures(degree=2,
                                    interaction_only=False,
                                    include_bias = True)

# Transform our original training matrix, outputs ndarray
d2_train_features_np = d2_transformer.fit_transform(train_features)

# Get the names of the new columns
d2_model_names = d2_transformer.get_feature_names(train_features.columns)

# Repackage into DataFrame with appropriate column names and indices
d2_train_features = pd.DataFrame(data=d2_train_features_np,
                                 columns=d2_model_names,
                                 index=train_features.index)

#print("Training degree 2 linear model feature matrix:")
#display(d2_train_features)

# Now the same thing with the testing matrix
d2_test_features_np = d2_transformer.fit_transform(test_features)
d2_model_names = d2_transformer.get_feature_names(test_features.columns) # Should be same but just in case
d2_test_features = pd.DataFrame(data=d2_test_features_np,
                                columns=d2_model_names,
                                index=test_features.index)

# Training and testing MSE
d2_lin_reg_model = LinearRegression().fit(d2_train_features, train_targets)
d2_lin_reg_model_train_pred = d2_lin_reg_model.predict(d2_train_features)
d2_lin_reg_model_train_mse = mean_squared_error(y_true=train_targets,
                                                y_pred=d2_lin_reg_model_train_pred)
d2_lin_reg_model_test_pred = d2_lin_reg_model.predict(d2_test_features)
d2_lin_reg_model_test_mse = mean_squared_error(y_true=test_targets,
                                               y_pred=d2_lin_reg_model_test_pred)

# Training and testing R^2
d2_lin_reg_model_train_rsq = d2_lin_reg_model.score(d2_train_features, train_targets)
d2_lin_reg_model_test_rsq = d2_lin_reg_model.score(d2_test_features, test_targets)

# Let's see what we get
print("Training MSE for degree 2 feature matrix linear model:", d2_lin_reg_model_train_mse)
print("Testing MSE  \"   \"      \" \"       \"      \"      \":", d2_lin_reg_model_test_mse)

print("\n")

print("Training R^2 for degree 2 feature matrix linear model:", d2_lin_reg_model_train_rsq)
print("Testing R^2  \"   \"      \" \"       \"      \"      \":", d2_lin_reg_model_test_rsq)

Training MSE for degree 2 feature matrix linear model: 24.791871089956775
Testing MSE  "   "      " "       "      "      ": 52.874300361780634


Training R^2 for degree 2 feature matrix linear model: 0.6920822918995331
Testing R^2  "   "      " "       "      "      ": -0.12781368829069817

#### Do we seem to be overfitting?

Yes. Based on the increase in testing MSE when we added degree 2 features, we appear to be overfitting. The testing MSE was much higher than the training MSE with degree 2 features. The coefficient of determination is also horrible. A negative number tends to mean that a horizontal line would have done better.

# Experiment 8

Regularization would allow us to construct a model of intermediate complexity by penalizing large values for the coefficients. Scikit-learn provides this as $\texttt{sklearn.linear_model.Ridge}$...

In [93]:
from sklearn.linear_model import Ridge

# Using the degree 2 feature matrix, construct a linear model with Ridge regression
d2_ridge_lin_reg_model = Ridge(alpha=1.0, normalize=True).fit(d2_train_features, train_targets)

# Calculate MSE's
d2_ridge_lin_reg_train_pred = d2_ridge_lin_reg_model.predict(d2_train_features)
d2_ridge_lin_reg_train_mse = mean_squared_error(y_true=train_targets,
                                               y_pred=d2_ridge_lin_reg_train_pred)

d2_ridge_lin_reg_test_pred = d2_ridge_lin_reg_model.predict(d2_test_features)
d2_ridge_lin_reg_test_mse = mean_squared_error(y_true=test_targets,
                                               y_pred=d2_ridge_lin_reg_test_pred)

# Calculate R^2's
d2_ridge_lin_reg_train_rsq = d2_ridge_lin_reg_model.score(d2_train_features, train_targets)
d2_ridge_lin_reg_test_rsq = d2_ridge_lin_reg_model.score(d2_test_features, test_targets)

# Print MSE's
print("Training MSE for degree 2 ridge regularization:", d2_ridge_lin_reg_train_mse)
print("Testing MSE for degree 2 ridge regularization:", d2_ridge_lin_reg_test_mse)

print("\n")

# Print R^2's
print("Training R^2 for degree 2 ridge regularization:", d2_ridge_lin_reg_train_rsq)
print("Testing R^2 for degree 2 ridge regularization:", d2_ridge_lin_reg_test_rsq)

Training MSE for degree 2 ridge regularization: 41.44595282614817
Testing MSE for degree 2 ridge regularization: 20.529150436028058


Training R^2 for degree 2 ridge regularization: 0.48523680371032984
Testing R^2 for degree 2 ridge regularization: 0.5621113336287809

#### Once again, compare the training and test MSE and $R^2$ scores. Is this model an improvement?

Yes, this model is an improvement. Adding l2 regularization seems to improve the generalizability of the model. The Testing MSE is now much lower than it was before. The $R^2$ is also no longer negative, which is a huge improvement.

# Experiment 9

We used the default penalty value of 1.0 in the previous experiment, but there’s no reason to believe that this is optimal. Use $\texttt{sklearn.linear_model.RidgeCV}$ to find an optimal value for alpha.

In [88]:
from sklearn.linear_model import RidgeCV

# Seek alpha by continuously refining the range and precision
# precision is the number of decimal places
def find_alpha(min_alpha, max_alpha, precision, features, targets, *, normalize_=True):
    # Error, precision must be positive
    if precision <= 0:
        return -1
    
    med = (max_alpha + min_alpha) / 2
    d2_ridgecv_lin_reg_model = RidgeCV((min_alpha, med, max_alpha), normalize=normalize_)
    d2_ridgecv_lin_reg_model = d2_ridgecv_lin_reg_model.fit(features, targets)
    res = d2_ridgecv_lin_reg_model.alpha_
    
    if (max_alpha - min_alpha) < (1 / (10 ** precision+1)):
        return round(res, precision)
    
    if res == max_alpha:
        max_alpha = med + ((max_alpha - med) * 2)
        min_alpha = med
    elif res == min_alpha:
        min_alpha = med - ((med - min_alpha) * 2)
        max_alpha = med
    else: # res == med
        min_alpha = (med + min_alpha) / 2
        max_alpha = (med + max_alpha) / 2
        
    return find_alpha(min_alpha, max_alpha, precision, features, targets)

est_alpha = find_alpha(0.0001, 0.1, 8, train_features, train_targets)
print("Alpha is approximately", est_alpha)
    
# Use new alpha to predict training MSE
d2_best_alpha_ridge = Ridge(alpha=est_alpha, normalize=True).fit(d2_train_features, train_targets)
d2_best_alpha_ridge_train_pred = d2_best_alpha_ridge.predict(d2_train_features)
d2_best_alpha_ridge_train_mse = mean_squared_error(y_true=train_targets,
                                                   y_pred=d2_best_alpha_ridge_train_pred)
print("Training MSE for degree 2 optimized alpha ridge regularized:", d2_best_alpha_ridge_train_mse)

# Use new alpha to predict testing MSE
d2_best_alpha_ridge_test_pred = d2_best_alpha_ridge.predict(d2_test_features)
d2_best_alpha_ridge_test_mse = mean_squared_error(y_true=test_targets,
                                                  y_pred=d2_best_alpha_ridge_test_pred)
print("Training MSE for degree 2 optimized alpha ridge regularized:", d2_best_alpha_ridge_test_mse)

Alpha is approximately 0.0191279
Training MSE for degree 2 optimized alpha ridge regularized: 33.13716067226966
Training MSE for degree 2 optimized alpha ridge regularized: 19.338740826573225

#### How does this compare to experiment (8)?

After iteratively refining the value of alpha, we found an optimal value precise to the 8th decimal place. Using this value to perform Ridge Regularization and calculate the training and test MSEs, it appears there is much improvement.

The training MSE has dropped significantly, and the testing MSE has dropped as well. Since the testing MSE is lower than the training MSE, we don't appear to be overfitting. RidgeCV has improved our model.